<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
 <!-- main header-->
 <div class="container-fluid main_header">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                  <figure>
                       <img src="images/woman.png" alt="Anjali" class="img_fluid" title="Anjali jain">              
                  </figure>
                     </div>
                     <!-- left side div-->
              <div class="col-md-6 col-12 main_header_left align-items-center">
                  <p>Welcome to Weather app</p>
                  <h1>I am A <span class="txt-clr">MERN stack Developer</span></h1>
                  <a href="/weather"> <button>About Me</button></a>
              </div>
                
              
              </div>
            </div>
         </div>
     </div>
 </div>

 {{>footer}}
</body>
</html>