<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
<body>
  {{>navbar}}
 <!-- main header-->
 <div class="back_img">
   <img src="images/weather.gif" alt="background image">
 
 <div class="container-fluid main_header  align-items-center">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
           
            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                     
                </form>
            </div>
               <div class="tempInformation">
                  <div class="top_layer">
                     <p id="day"> Tuesday</p>
                     <p id="today_data"> 13th  october</p>
        </div>
             <div class="main_layer ">
                <p id="city_name">Get Output Here</p>
                  <div class="middle_layer  data_hide">  
                     <p id="temp"><span id="temp_real_val">0</span><sup>o</sup >C</p>
                     <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i> </p>
                  </div>
              </div>
            </div>
         </div>
     </div>
    </div>
 </div>

  {{>footer}}
  <script src="js/main.js"></script>
 
<script> 
     const getCurrentDay=()=>{
       let weekday=new Array(7);
       weekday[0]= "Sunday";
       weekday[1]= "Monday";
        weekday[2]= "Tuesday";
         weekday[3]= "Wednesday";
          weekday[4]= "Thursday";
           weekday[5]= "Friday";
            weekday[6]= "saturday"; 
        
        let currentTime=new Date();
        console.log(currentTime);

        days=weekday[currentTime.getDay()];
        let day=document.getElementById("day");
        day.innerText=days;
     };
     
      const getCurrentDate=()=>{
       const months=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec"];
       var now =new Date();
       console.log(now);
       var month=months[now.getMonth()];
       console.log(month);
       var date=now.getDate();
       document.getElementById("today_data").innerText=date+"th"+" "+month;
     };
     getCurrentDay();
     getCurrentDate();
</script>
</body>
</html>